[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-jet = "*"
django-rest-framework = "*"
django-allauth = "*"
django-summernote = "*"
cookiecutter = "*"
pytz = "*"
python-slugify = "*"
rcssmin = "*"
argon2-cffi = "*"
whitenoise = "*"
redis = "*"
django-environ = "*"
django-model-utils = "*"
django-crispy-forms = "*"
django-compressor = "*"
django-redis = "*"
django-filer = "*"
djangorestframework = "*"
coreapi = "*"
ipdb = "*"
psycopg2-binary = "*"
mypy = "*"
pytest = "*"
pytest-sugar = "*"
flake8 = "*"
coverage = "*"
factory-boy = "*"
django-debug-toolbar = "*"
django-extensions = "*"
django-coverage-plugin = "*"
pytest-django = "*"
Django = "*"
Pillow = "*"
Werkzeug = "*"
Sphinx = "*"

[requires]
python_version = "3.7"
